{% extends 'base.html' %}

{% block title %}Admin{% endblock %}

{% block content %}

<div class="container-fluid">
  <div class="row">
    <div class="col-12 col-lg-2 sidebar-self">
      <div class="border-end" id="sidebar-wrapper">
        <div class="sidebar-heading border-bottom " style="font-size:x-large;">Administrator</div>
        <div class="list-group list-group-flush">
          {% block sidebar %}{% endblock %}
        </div>
      </div>
    </div>
    <div class="col">
      {% block main_content %} {% endblock %}
    </div>
  </div>

</div>


{% endblock %}