{% extends 'admin_base.html' %}

{% block sidebar %}
<a class="list-group-item p-3 dark-purple text-white" href="/admin">Main DashBoard</a>
<a class="list-group-item p-3" href="/admin/edit_user">Add/Delete User</a>
<a class="list-group-item p-3" href="/admin/add_room">Register a Room</a>
{% endblock %}

{% block main_content %}
<div class="row mt-5">
  <div class="col-md-4 mb-4">
    <div class="card cerise">
      <div class="card-body">
        <h5 class="card-title text-white">Total Doctors</h5>
        <p class="card-text text-white">{{ total_doctors }}</p>
      </div>
    </div>
  </div>
  <div class="col-md-4 mb-4">
    <div class="card cerise">
      <div class="card-body">
        <!-- printing card title in white and text also  -->
        <h5 class="card-title text-white">Total FrontDesk Operators</h5>
        <p class="card-text text-white">{{ total_fdo }}</p>
      </div>
    </div>
  </div>
  <div class="col-md-4 mb-4">
    <div class="card cerise">
      <div class="card-body">
        <h5 class="card-title text-white">Total DataEntry Operators</h5>
        <p class="card-text text-white">{{ total_deo }}</p>
      </div>
    </div>
  </div>
</div>

<div class="table-responsive">
  <h5 class="mb-3">Recently Registered Doctors</h5>
  <table class="table table-striped">
    <thead class="dark-purple text-white">
      <tr>
        <th scope="col">Doctor ID</th>
        <th scope="col">Name</th>
        <th scope="col">Address</th>
        <th scope="col">Age</th>
        <th scope="col">Gender</th>
        <th scope="col">Personal_Contact</th>
      </tr>
    </thead>
    <tbody class="table-group-divider">
      {% for doctor in doctors %}
      <tr>
        {% for field in doctor %}
        <td>{{ field }}</td>
        {% endfor %}
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
<br>
<br>
<div class="table-responsive">
  <h5 class="mb-3">Recently Registered FrontDesk Operators</h5>
  <table class="table table-striped">
    <thead class="dark-purple text-white">
      <tr>
        <th scope="col">FD_Operator ID</th>
        <th scope="col">Name</th>
        <th scope="col">Address</th>
        <th scope="col">Age</th>
        <th scope="col">Gender</th>
        <th scope="col">Personal_Contact</th>
      </tr>
    </thead>
    <tbody class="table-group-divider">
      {% for fdo in fdos %}
      <tr>
        {% for field in fdo %}
        <td>{{ field }}</td>
        {% endfor %}
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
<br>
<br>
<div class="table-responsive">
  <h5 class="mb-3">Recently Registered DataEntry Operators</h5>
  <table class="table table-striped">
    <thead class="dark-purple text-white">
      <tr>
        <th scope="col">DE_Operator ID</th>
        <th scope="col">Name</th>
        <th scope="col">Address</th>
        <th scope="col">Age</th>
        <th scope="col">Gender</th>
        <th scope="col">Personal_Contact</th>
      </tr>
    </thead>
    <tbody class="table-group-divider">
      {% for deo in deos %}
      <tr>
        {% for field in deo %}
        <td>{{ field }}</td>
        {% endfor %}
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}