{% extends 'dataentry_base.html' %}

{% block sidebar %} 
<a class="list-group-item p-3 " style="color: black;" href="/dataentry">Main DashBoard</a>
<a class="list-group-item p-3 " style="color: black" href="/dataentry/treatment">Add Treatment</a>
<a class="list-group-item p-3 dark-purple text-white" style="color: black" href="/dataentry/test">Add Test Result</a>
{% endblock %}


{% block main_content %}
<h1 class="mt-4">Add Test Result</h1>
<div class = "container">
    <!-- <form method="post" enctype="multipart/form-data">
        {{ form.hidden_tag() }}
        <div class="form-group row">
            {{ form.test_date.label(class="col-sm-4 col-form-label") }}
            <div class="col-sm-8">
              {{form.test_date(class="form-control",value=test[0],readonly = true)}}
                {% for error in form.test_date.errors %}
              <span class="help-block">{{ error }}</span>
              {% endfor %}
            </div>
        </div>
        <div class="form-group row">
            {{ form.category.label(class="col-sm-4 col-form-label") }}
            <div class="col-sm-8">
              {{form.category(class="form-control",value=test[1],readonly = true)}}
                {% for error in form.category.errors %}
              <span class="help-block">{{ error }}</span>
              {% endfor %}
            </div>
        </div>
        <div class="form-group row">
            {{ form.bodypart.label(class="col-sm-4 col-form-label") }}
            <div class="col-sm-8">
              {{form.bodypart(class="form-control",value=test[2],readonly = true)}}
                {% for error in form.bodypart.errors %}
              <span class="help-block">{{ error }}</span>
              {% endfor %}
            </div>
        </div>
        <div class="form-group row">
            {{ form.patient.label(class="col-sm-4 col-form-label") }}
            <div class="col-sm-8">
              {{form.patient(class="form-control",value=test[3],readonly = true)}}
                {% for error in form.patient.errors %}
              <span class="help-block">{{ error }}</span>
              {% endfor %}
            </div>
        </div>
        <div class="form-group row">
            {{ form.result.label(class="col-sm-4 col-form-label") }}
            <div class="col-sm-8">
              {{form.result(class="form-control")}}
                {% for error in form.result.errors %}
              <span class="help-block">{{ error }}</span>
              {% endfor %}
            </div>
        </div>
        <div class="form-group row">
          {{ form.file_upload.label(class="col-sm-4 col-form-label") }}
          <div class="col-sm-8">
            {{form.file_upload(class="form-control")}}
            {% for error in form.file_upload.errors %}
            <span class="help-block">{{ error }}</span>
            {% endfor %}
          </div>
        </div>
    
        <div class="form-group row">
          <div class="offset-sm-4 col-sm-8">
            {{ form.submit(class="btn cerise text-white") }}
          </div>
        </div>
    </form> -->
    <form class="row g-3" method="post" enctype="multipart/form-data">
      {{form.hidden_tag()}}
      <div class="col-md-3">
        {{ form.test_date.label(class="form-label", for="date") }}
        {{ form.test_date(class="form-control", id="date", value=test[0], readonly=true) }}
        {% for error in form.test_date.errors %}
        <span class="help-block">{{ error }}</span>
        {% endfor %}
      </div>
      <div class="col-md-3">
        {{ form.category.label(class="form-label", for="patient") }}
        {{ form.category(class="form-control", type="text", id="patient",value=test[1],readonly=true)}}
        {% for error in form.category.errors %}
        <span class="help-block">{{ error }}</span>
        {% endfor %}
      </div>
      <div class="col-md-3">
        {{ form.bodypart.label(class="form-label", for="doctor") }}
        {{ form.bodypart(class="form-control", type="text", id="doctor", value=test[2],readonly=true) }}
        {% for error in form.bodypart.errors %}
        <span class="help-block">{{ error }}</span>
        {% endfor %}
      </div>
      <div class="col-12">
        {{ form.patient.label(class="form-label", for="details") }}
        {{ form.patient(class="form-control", type="text", id="details", value=test[3], readonly=true) }}
        {% for error in form.patient.errors %}
        <span class="help-block">{{ error }}</span>
        {% endfor %}
      </div>
      <div class="col-12">
        {{ form.result.label(class="form-label", for="file") }}
        {{ form.result(class="form-control", id="file") }}
        {% for error in form.result.errors %}
        <span class="help-block">{{ error }}</span>
        {% endfor %}
      </div>
      <div class="col-12">
        {{ form.file_upload.label(class="form-label", for="file") }}
        {{ form.file_upload(class="form-control", id="file") }}
        {% for error in form.file_upload.errors %}
        <span class="help-block">{{ error }}</span>
        {% endfor %}
      </div>
      <div class="col-12">
        {{ form.submit(class="btn cerise text-white") }}
      </div>
    </form>
</div>

{% endblock %}