{% extends 'doctor_base.html' %}

{% block sidebar %} 
<a class="list-group-item p-3 " style="color: black;" href="/doctor">Main DashBoard</a>
<a class="list-group-item p-3 dark-purple text-white" style="color: black" href="/doctor/query_patients">Query Patients</a>
<a class="list-group-item p-3 " style="color: black" href="/doctor/add_prescription">Assign Prescriptions</a>
{% endblock %}

{% block main_content %}
<h3 class="mt-4">Patients</h3>
    {% if patients|length == 0 %}
        <p>No Patients to show</p>
    {% else %}
    <div class="table-responsive">
        <table class="table table-striped">
            <thead class="dark-purple text-white">
                <tr>
                    <th scope="col">Patient ID</th>
                    <th scope="col">Name</th>
                    <th scope="col">Address</th>
                    <th scope="col">Age</th>
                    <th scope="col">Gender</th>
                    <th scope="col">Personal Contact</th>
                    <th scope="col">Emergency Contact</th>
                    <th scope="col">Medical History</th>
                </tr>
            </thead>
            <tbody>
                {% for patient in patients %}
                <tr>
                    {% for field in patient %}
                    <td>{{ field }}</td>
                    {% endfor %}    
                    <td><a href="/doctor/query_patients/{{ patient[0] }}" class="btn cerise text-white">Details</a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    

    {% endif %}
{% endblock %}