{% extends 'doctor_base.html' %}

{% block sidebar %} 
<a class="list-group-item p-3 " style="color: black;" href="/doctor">Main DashBoard</a>
<a class="list-group-item p-3 dark-purple text-white" style="color: black" href="/doctor/query_patients">Query Patients</a>
<a class="list-group-item p-3 " style="color: black" href="/doctor/add_prescription">Assign Prescriptions</a>
{% endblock %}


{% block main_content %}
<h1 class="mt-4">Add Treatment </h1>
<div class = "container">
    <form method="post">
        {{ form.hidden_tag() }}
        <p>
            {{form.category(size="1", class="form-control")}}
          </p>
        <div class="form-group row">
            {{ form.treatment_date.label(class="col-sm-4 col-form-label") }}
            <div class="col-sm-8">
              {{form.treatment_date(class="form-control")}}
                {% for error in form.treatment_date.errors %}
              <span class="help-block">{{ error }}</span>
              {% endfor %}
            </div>
        </div>
        <div class="form-group row">
            {{ form.patient_id.label(class="col-sm-4 col-form-label") }}
            <div class="col-sm-8">
              {{form.patient_id(class="form-control")}}
                {% for error in form.patient_id.errors %}
              <span class="help-block">{{ error }}</span>
              {% endfor %}
            </div>
        </div>
        <div class="form-group row">
            {{ form.details.label(class="col-sm-4 col-form-label") }}
            <div class="col-sm-8">
              {{form.details(class="form-control")}}
                {% for error in form.details.errors %}
              <span class="help-block">{{ error }}</span>
              {% endfor %}
            </div>
        </div>
        <div class="form-group row">
          <div class="offset-sm-4 col-sm-8">
            {{ form.submit(class="btn cerise text-white") }}
          </div>
        </div>
    </form>
</div>

{% endblock %}