{% extends 'frontdesk_base.html' %}

{% block sidebar %} 
<a class="list-group-item p-3" style="color: black;" href="/frontdesk">Main DashBoard</a>
    <a class="list-group-item p-3" style="color: black" href="/frontdesk/register">Register Patient</a>
    <a class="list-group-item p-3" style="color: black" href="/frontdesk/admit">Admit Patient</a>
    <a class="list-group-item p-3" style="color: black" href="/frontdesk/discharge">Discharge Patient</a>
    <a class="list-group-item p-3 dark-purple text-white" style="color: black" href="/frontdesk/appointment_schedule">Schedule Appointment</a>
{% endblock %}
       
    
{% block main_content %}

    {% for doc in doctors %}
        <div class="modal fade" id="Modal{{ doc[0] }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Select Date</h5>
                </div>
                <form action="/frontdesk/appointment_schedule/{{patient_id}}/{{ doc[0] }}" method="post">
                    <div class="form-group modal-body">
                        <label for="date">Date</label>
                        <input type="date" class="form-control" id="date" name="date" required>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn cerise text-white" data-bs-dismiss="modal">Close</button>
                        <button type="submit" class="btn cerise text-white">Submit</button>
                    </div>
                </form>
            </div>
            </div>
        </div> 
    {% endfor %}
    <h1 class="mt-4">Select Doctor</h1>
    {% if doctors|length == 0 %}
        <p>No doctors</p>
    {% else %}
    <div class="table-responsive">
        <table class="table table-striped">
            <thead class="dark-purple text-white">
                <tr>
                    <th scope="col">Doctor ID</th>
                    <th scope="col">Name</th>
                    <th scope="col">Address</th>
                    <th scope="col">Age</th>
                    <th scope="col">Gender</th>
                    <th scope="col">Contact No.</th>
                    <th scope="col">Select Doctor</th>
                </tr>
            </thead>
            <tbody>
                {% for doc in doctors %}
                <tr>
                    <td>{{ doc[0] }}</td>
                    <td>{{ doc[3] }}</td>
                    <td>{{ doc[4] }}</td>
                    <td>{{ doc[5] }}</td>
                    <td>{{ doc[6] }}</td>
                    <td>{{ doc[7] }}</td>
                    <td>
                        <button data-bs-toggle="modal"  data-bs-target="#Modal{{ doc[0] }}" type="button" class="btn cerise text-white">
                            Select Date
                        </button>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    {% endif %}
    
{% endblock %}