{% extends 'base.html' %}

{% block title %}Hospital Management System{% endblock %}

{% block content %}
  <div class="jumbotron">
    <h1 class="display-4">Welcome to Hospital Management System!</h1>
    <p class="lead">This web application is designed for a hospital management system. The system registers patients, schedules
        appointment with doctors, maintains patient information about diagnostics tests and treatments
        administered, maintains information about doctors, healthcare professionals, stores admit/discharge
        information about the patients</p>
    <hr class="my-4">
    <p>Get started by exploring the menu items in the navigation bar above.</p>
  </div>
{% endblock %}