{% extends "base.html" %} {% block title %}Sign Up{% endblock %} {% block
    content %}
    <form action='/sign-up' method="POST">
      <h3 align="center">Sign Up</h3>
      <div class="form-outline form-white mb-4">
        <label for="role">Role</label>
        <select class="form-control form-select" id="role" name="role">
          <option value="Administrator">Administrator</option>
          <option value="Doctor">Doctor</option>
          <option value="DE_Operator">Data Entry Operator</option>
          <option value="FD_Operator">Front Desk Operator</option>
        </select>
      </div>
      <div class="form-group">
        <label for="email">User Name</label>
        <input
          type="email"
          class="form-control"
          id="email"
          name="email"
          placeholder="Enter Username"
        />
      </div>
      <div class="form-group">
        <label for="firstName">First Name</label>
        <input
          type="text"
          class="form-control"
          id="firstName"
          name="firstName"
          placeholder="Enter first name"
        />
      </div>
      <div class="form-group">
        <label for="Address">Address</label>
        <input
          type="text"
          class="form-control"
          id="Address"
          name="Address"
          placeholder="Enter Address"
        />
      </div>
      <div class="form-group">
        <label for="Age">Age</label>
        <input
          type="text"
          class="form-control"
          id="Age"
          name="Age"
          placeholder="Enter Age"
        />
      </div>
      <div class="form-group">
        <label for="Gender">Gender</label>
        <input
          type="text"
          class="form-control"
          id="Gender"
          name="Gender"
          placeholder="Enter Gender"
        />
      </div>
      <div class="form-group">
        <label for="Personal_Contact">Personal_Contact</label>
        <input
          type="text"
          class="form-control"
          id="Personal_Contact"
          name="Personal_Contact"
          placeholder="Enter Personal Contact"
        />
      </div>
      <div class="form-group">
        <label for="password1">Password</label>
        <input
          type="password"
          class="form-control"
          id="password1"
          name="password1"
          placeholder="Enter password"
        />
      </div>
      <div class="form-group">
        <label for="password2">Password (Confirm)</label>
        <input
          type="password"
          class="form-control"
          id="password2"
          name="password2"
          placeholder="Confirm password"
        />
      </div>
      <br />
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
    {% endblock %}